<div class="container bgimage">
  <a class="navbar" href="#"
    ><img
      id="header-img"
      [src]="landing_header.image"
      class="img-responsive icons-img"
      alt=""
      style="position: absolute; margin-top: 35%"
  /></a>
  <!-- <img
    id="header-img"
    src="assets/image/my-element.gif"
    class="img-responsive icons-img hide"
    alt=""
    style="
      height: auto;
      width: 30%;
      transform: rotate(0deg);
      position: absolute;
      margin-left: 70%;
      margin-top: 20%;
    "
  /> -->
  <img
    id="header-img"
    src="assets/image/my-element.gif"
    class="img-responsive icons-img hide"
    alt=""
    style="
      height: auto;
      width: 30%;
      transform: rotate(10deg);
      position: absolute;
      margin-left: 58%;
      margin-top: 23%;
    "
  />
  <div class="p-4" style="margin-top: 25%; position: relative">
    <div class="font">
      <h1 class="font">{{ landing_header.heading }}</h1>
      <h4 class="font" style="padding-top: 5%" [innerHtml]="htmllanding_header">
        <!-- ‘Your free, very secure digital school space, to manage your schools
        data and the educational path, the future of your children’ -->
      </h4>
    </div>
    <div
      class="text-center"
      id="button"
      style="color: #311fe7; padding-top: 3%"
    >
      <button class="btn btn-primary">
        {{ "OpenyourMaiaXsafeforfree" | translate }}
      </button>
    </div>
  </div>
  <div class="row p-4">
    <div class="col col-sm-7 align">
      <h3 class="font">
        {{ session1.heading }}
      </h3>
      <h6 class="font" [innerHtml]="htmlContent">
        <!-- {{session1.description}} -->
      </h6>
    </div>
    <div class="col col-sm-5">
      <a class="navbar" href="#"
        ><img
          id="header-img"
          [src]="session1.image"
          class="img-responsive icons-img"
          alt=""
      /></a>
    </div>
    <img
      id="header-img"
      src="assets/image/my-element.gif"
      class="img-responsive icons-img hide"
      alt=""
      style="
        height: auto;
        width: 30%;
        transform: rotate(360deg);
        position: absolute;
        margin-left: 25%;
        margin-top: 14%;
      "
    />
  </div>
  <div class="row p-4">
    <div class="col col-sm-5">
      <a class="nav" href="#"
        ><img
          id="header-img"
          [src]="session2.image"
          class="img-responsive icons-img"
          alt=""
      /></a>
    </div>
    <div class="col col-sm-7 align">
      <h3 class="font">
        {{ session2.heading }}
      </h3>
      <h6 class="font" [innerHtml]="htmlContent1">
        <!-- ‘Free access to your data, share your data between schools, educational
        institutions, your future employer to craft the future you envision.’ -->
      </h6>
    </div>
  </div>
  <div class="text-center p-3" style="color: #311fe7">
    <button class="btn btn-primary">
      {{ "CreateYourMaiaXaccount" | translate }}
    </button>
  </div>
  <div class="p-4">
    <div>
      <h2 class="justify-content-center">{{ landindsession_2.heading }}</h2>
    </div>
    <div>
      <h4>{{ landindsession_2.heading2 }}</h4>
    </div>
    <div>
      <h6 class="modular pt-1" [innerHtml]="htmllaningsession2">
        <!-- We create a modular, data focused educational path together with you by
        crafting your future together with you -->
      </h6>
    </div>
    <!-- <div class="p-1">
      <h6 class="modular">
        We precisely guide you in your knowledge gaps through data. The most<br />
        time efficient, effective way to achieve your future goals!
      </h6>
    </div> -->
    <div class="text-center p-3">
      <button type="button" class="btn btn-light">Discover more</button>
    </div>
  </div>
  <div class="container mt-5">
    <div class="container-fluid">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="wrapper">
            <img
              [src]="image.image"
              alt="Random first slide"
              style="height: 90%; width: 100%"
            />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="mt-4">
    <h2>{{ "YourThreePillers" | translate }}</h2>
  </div>
  <div>
    <div class="row p-5">
      <div class="col text-center alignall">
        <div class="p-1">
          <a class="navb" href="#"
            ><img
              id="header-img"
              [src]="card1.image"
              class="img-responsive sharedata-img"
              alt=""
          /></a>
        </div>
        <h4>{{ card1.heading }}</h4>
        <p
          style="text-align: justify; text-justify: auto"
          [innerHtml]="htmlCard1"
        ></p>
      </div>
      <div class="col text-center alignall">
        <div class="p-2">
          <a class="navb" href="#"
            ><img
              id="header-img"
              [src]="card2.image"
              class="img-responsive sharedata-img"
              alt=""
          /></a>
        </div>
        <h4>{{ card2.heading }}</h4>
        <p
          style="text-align: justify; text-justify: auto"
          class="p-2"
          [innerHtml]="htmlCard2"
        >
          <!-- With up to 50GB of free space, you can use Maia X to back up all your
          important files – even your not-so-important ones tooWith up to 50GB
          of free space -->
        </p>
      </div>
      <div class="col text-center alignall">
        <div class="p-2">
          <a class="navb" href="#"
            ><img
              id="header-img"
              [src]="card3.image"
              class="img-responsive sharedata-img"
              alt=""
          /></a>
        </div>
        <h4>{{ card3.heading }}</h4>
        <p
          style="text-align: justify; text-justify: auto"
          [innerHtml]="htmlCard3"
        >
          <!-- Easily share your Maia X files and folders with friends and
          colleagues, even people without Maia X accounts. And when sharing,
          you’re still in control. -->
        </p>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="">
    <a class="navbar" href="#"
      ><img
        id="header-img"
        src="assets/image/icons-img.jpg"
        class="img-responsive icons-img"
        alt=""
    /></a>
  </div>
  <div class="p-5">
    <div class="mt-5">
      <h1>Free Online privacy for everyone</h1>
    </div>
    <div>
      <h4>
        ‘Your free, very secure digital school space, to manage your schools
        data and the educational path, the future of your children’
      </h4>
    </div>
    <div class="text-center p-3" style="color: #311fe7">
      <button class="btn btn-primary">Open your Maia X safe for free</button>
    </div>
  </div>
  <div class="row p-4 mt-5">
    <div class="col-7 p-5">
      <h3>
        ‘Share data and information securely between, schools, parents, EdTech
        providers and government’
      </h3>
      <h6>
        ‘Decide which documents and/or data you want to share securely, when and
        with whom. The owner of the vault remains in control of this decision
        and the data included.’
      </h6>
    </div>
    <div class="col-5">
      <a class="navbar" href="#"
        ><img
          id="header-img"
          src="assets/image/section-1-img.jpg"
          class="img-responsive icons-img"
          alt=""
      /></a>
    </div>
    <img
      id="header-img"
      src="assets/image/my-element.gif"
      class="img-responsive icons-img"
      alt=""
      style="
        height: auto;
        width: 35%;
        transform: rotate(25deg);
        position: absolute;
        margin-left: 30%;
        margin-top: 20%;
      "
    />
  </div>
  <div class="row p-4 mt-5">
    <div class="col-5">
      <a class="nav" href="#"
        ><img
          id="header-img"
          src="assets/image/section-2-img.jpg"
          class="img-responsive icons-img"
          alt=""
      /></a>
    </div>
    <div class="col-7 p-5 mt-5">
      <h3>
        ‘Direct access to your educational data and documents. Take control of
        your or your students future by using data.’
      </h3>
      <h6>
        ‘Free access to your data, share your data between schools, educational
        institutions, your future employer to craft the future you envision.’
      </h6>
    </div>
  </div>
  <div class="text-center p-3" style="color: #311fe7">
    <button class="btn btn-primary">Create Your Maia X account</button>
  </div>
  <div class="p-4">
    <div>
      <h2 class="justify-content-center">Why Maia-X?</h2>
    </div>
    <div>
      <h4>Take control of your future</h4>
    </div>
    <div>
      <h6 class="modular">
        We create a modular, data focused educational path together with you by
        crafting your future together with you
      </h6>
    </div>
    <div class="p-1">
      <p>
        We precisely guide you in your knowledge gaps through data. The most<br />
        time efficient, effective way to achieve your future goals!
      </p>
    </div>
    <div class="text-center p-3">
      <button type="button" class="btn btn-light">Discover more</button>
    </div>
  </div>
  <div class="container mt-5">
    <div class="container-fluid">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="wrapper">
            <img [src]="image.src" alt="Random first slide" />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="mt-4">
    <h4>Your Three Pillers</h4>
  </div>
  <div>
    <div class="row p-5">
      <div class="col text-center p-5">
        <div class="p-1">
          <a class="navb" href="#"
            ><img
              id="header-img"
              src="assets/image/icon-placeholder.png"
              class="img-responsive sharedata-img"
              alt=""
          /></a>
        </div>
        <h4>Frictionless Security</h4>
        <p style="text-align: justify; text-justify: auto; font-size: 18px">
          Protecting your sensitive files is a top priority. That's why we bring
          you advanced security controls, intelligent threat detection, and
          complete information governance.
        </p>
      </div>
      <div class="col text-center p-5">
        <div class="p-2">
          <a class="navb" href="#"
            ><img
              id="header-img"
              src="assets/image/icon-placeholder-1.png"
              class="img-responsive sharedata-img"
              alt=""
          /></a>
        </div>
        <h4>Storage Space</h4>
        <p
          style="text-align: justify; text-justify: auto; font-size: 18px"
          class="p-2"
        >
          With up to 50GB of free space, you can use Maia X to back up all your
          important files – even your not-so-important ones tooWith up to 50GB
          of free space
        </p>
      </div>
      <div class="col text-center p-5">
        <div class="p-2">
          <a class="navb" href="#"
            ><img
              id="header-img"
              src="assets/image/placeholder-icon.png"
              class="img-responsive sharedata-img"
              alt=""
          /></a>
        </div>
        <h4>Share</h4>
        <p style="text-align: justify; text-justify: auto; font-size: 18px">
          Easily share your Maia X files and folders with friends and
          colleagues, even people without Maia X accounts. And when sharing,
          you’re still in control.
        </p>
      </div>
    </div>
  </div>
</div> -->
<!-- </div> -->
