<!-- <div class="container">
  <div class="my-5"> -->
<!-- <div class="col col-sm-4 col-md text-center">
      <h5 (click)="getaboutmaia()">About maia-x</h5>
    </div>
    <div class="col col-sm-4 col-md text-center">
      <h5 (click)="getaboutsolid()">About solid</h5>
    </div>
    <div class="col col-sm-4 col-md text-center">
      <h5>News</h5>
    </div> -->
<!-- <div class="col col-sm-4 col-md text-center">
      <h5>Blog</h5>
    </div>
    <div class="col col-sm-4 col-md text-center">
      <h5>FAQ</h5>
    </div> -->
<!-- </div> -->
<!-- <div class="container">
    <div class="text">
      <angular-editor
        [placeholder]="'Enter text here...'"
        [(ngModel)]="htmlContent"
      ></angular-editor>
    </div>
  </div>
  <div class="text-center">
    <button
      class="mt-3"
      *ngIf="isButtonVisible"
      type="button"
      (click)="update(this.aboutmaia.page_name)"
    >
      <b>Update</b>
    </button>
  </div> -->
<!-- </div> -->
<div class="container">
  <!-- <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">English</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">German</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">French</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
        >Dutch</a
      >
    </li>
  </ul> -->
  <!-- <div class="languages">
    <h5 label="English" value="en">English</h5>
    <h5 label="French" value="fr">French</h5>
    <h5 label="German" value="de">German</h5>
    <h5 label="Dutch" value="nl">Dutch</h5>
  </div> -->

  <div class="row">
    <div class="col-sm-2 mx-auto">
      <div class="text-left p-2" style="cursor: pointer">
        <h5 (click)="getaboutmaia(this.lang)">
          <a>{{ "Aboutmaiax" | translate }}</a>
        </h5>
      </div>
      <div class="text-left p-2" style="cursor: pointer">
        <h5 (click)="getaboutsolid()">
          <a>{{ "AboutSolid" | translate }}</a>
        </h5>
      </div>
      <!--  -->
      <div class="text-left p-2" style="cursor: pointer">
        <h5 (click)="getlanding_header()">
          <a>{{ "TopBanner" | translate }}</a>
        </h5>
      </div>
      <!--  -->
      <!--  -->
      <div class="text-left p-2" style="cursor: pointer">
        <h5 (click)="getsession1()">
          <a>{{ "FirstSection" | translate }} </a>
        </h5>
      </div>
      <div class="text-left p-2" style="cursor: pointer">
        <h5 (click)="getsession2()">
          <a>{{ "SecondSection" | translate }}</a>
        </h5>
      </div>
      <!--  -->
      <div class="text-left p-2" style="cursor: pointer">
        <h5 (click)="getlandindsession2()">
          <a>{{ "CenterContent" | translate }}</a>
        </h5>
      </div>

      <!--  -->
      <div class="text-left p-2" style="cursor: pointer">
        <h5 (click)="getsliderimages()">
          <a>{{ "SliderImage" | translate }}</a>
        </h5>
      </div>

      <div class="text-left p-2" style="cursor: pointer">
        <a href="#submenu4" data-bs-toggle="collapse" class="nav-link">
          <h5>{{ "ThreePillers" | translate }}</h5></a
        >
        <tr id="submenu4" data-bs-parent="#menu">
          <h6 class="mx-2 pt-2" (click)="getlandindcard(3)">
            <a>{{ "card-1" | translate }}</a>
          </h6>
          <h6 class="mx-2 pt-2" (click)="getlandindcard(4)">
            <a>{{ "card-2" | translate }}</a>
          </h6>
          <h6 class="mx-2 pt-2" (click)="getlandindcard(5)">
            <a>{{ "card-3" | translate }}</a>
          </h6>
        </tr>
      </div>
      <!--  -->
      <!-- <div class="text-left p-2">
        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link">
          <h5>Footer 1A</h5></a
        >
        <tr
          *ngFor="let item of footer_data.footer_links_column1"
          id="submenu1"
          data-bs-parent="#menu"
        >
          <h6 class="mx-2" (click)="getfootercontent(item.id)">
            <a>{{ item.page_name }}</a>
          </h6>
        </tr>
      </div> -->
      <!--  -->
      <!-- <div class="text-left p-2">
        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link">
          <h5>Footer 2A</h5></a
        >
        <tr
          *ngFor="let item of footer_data.footer_links_column2"
          id="submenu2"
          data-bs-parent="#menu"
        >
          <h6 class="mx-2" (click)="getfootercontent(item.id)">
            <a>{{ item.page_name }}</a>
          </h6>
        </tr>
      </div> -->
      <!--  -->
      <!-- <div class="text-left p-2">
        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link">
          <h5>Footer 3A</h5></a
        >
        <tr
          *ngFor="let item of footer_data.footer_links_column3"
          id="submenu3"
          data-bs-parent="#menu"
        >
          <h6 class="mx-2" (click)="getfootercontent(item.id)">
            <a>{{ item.page_name }}</a>
          </h6>
        </tr>
      </div> -->
      <!--  -->
    </div>
    <div class="col" *ngIf="card" style="margin-bottom: 10%">
      <div id="gfg">
        <tabset>
          <tab heading="EN">
            <div class="container">
              <div class="container">
                <div *ngIf="issessionHeaderVisible">
                  <h1 class="mb-2">{{ "Heading" | translate }}</h1>
                  <input
                    type="session_header"
                    name="session_header"
                    class="form-control mb-5"
                    *ngIf="issessionHeaderVisible"
                    placeholder=""
                    [(ngModel)]="session.heading"
                  />
                </div>
                <div *ngIf="issessionHeader1Visible">
                  <h1 class="mb-2">{{ "Heading" | translate }}</h1>
                  <input
                    type="landingsession2.heading"
                    name="landingsession2.heading"
                    class="form-control mb-5"
                    placeholder=""
                    [(ngModel)]="landingsession2.heading"
                  />
                  <h1 class="mb-2">{{ "Heading-1" | translate }}</h1>
                  <input
                    type="landingsession2.heading2"
                    name="landingsession2.heading2"
                    class="form-control mb-5"
                    placeholder=""
                    [(ngModel)]="landingsession2.heading2"
                  />
                </div>
                <div class="text">
                  <angular-editor
                    [placeholder]="'Enter text here...'"
                    [(ngModel)]="htmlContent"
                  ></angular-editor>
                </div>
                <div class="row" style="display: flex">
                  <img
                    id=""
                    *ngIf="issessionHeaderVisible"
                    [src]="session.image"
                    style="
                      height: auto;
                      width: 25%;
                      margin-top: 10px;
                      margin-bottom: 10px;
                    "
                    class="img-responsive icons-img"
                    alt=""
                  />
                  <div class="avatar-upload" *ngIf="issessionHeaderVisible">
                    <div class="avatar-edit" style="cursor: pointer">
                      <input
                        type="file"
                        id="imageUpload"
                        accept=".png, .jpg, .jpeg"
                        #fileInput
                        (change)="onFileChanged($event)"
                        style="cursor: pointer"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center" style="cursor: pointer">
                <button
                  class="mt-3"
                  *ngIf="isButtonVisible"
                  type="button"
                  (click)="update(this.pagename)"
                >
                  <b>{{ "Update" | translate }}</b>
                </button>
              </div>
              <!--  -->
              <br />
              <div class="container">
                <input
                  type="page_name"
                  name="page_name"
                  class="form-control pt-2"
                  *ngIf="isfooterButtonVisible"
                  placeholder=""
                  [(ngModel)]="footer.page_name"
                />
              </div>
            </div>
            <div class="text-center">
              <button
                class="mt-3"
                *ngIf="isfooterButtonVisible"
                type="button"
                (click)="updatefooter(this.pageid)"
              >
                <b>{{ "Update" | translate }}</b>
              </button>
            </div></tab
          >
          <!--  -->
          <tab heading="DE">
            <div class="container">
              <div class="container">
                <div *ngIf="issessionHeaderVisible">
                  <h1 class="mb-2">{{ "Heading" | translate }}</h1>
                  <input
                    type="session.heading_de"
                    name="session.heading_de"
                    class="form-control mb-5"
                    *ngIf="issessionHeaderVisible"
                    placeholder=""
                    [(ngModel)]="session.heading_de"
                  />
                </div>
                <div *ngIf="issessionHeader1Visible">
                  <h1 class="mb-2">{{ "Heading" | translate }}</h1>
                  <input
                    type="landingsession2.heading_de"
                    name="landingsession2.heading_de"
                    class="form-control mb-5"
                    placeholder=""
                    [(ngModel)]="landingsession2.heading_de"
                  />
                  <h1 class="mb-2">{{ "Heading-1" | translate }}</h1>
                  <input
                    type="landingsession2.heading2_de"
                    name="landingsession2.heading2_de"
                    class="form-control mb-5"
                    placeholder=""
                    [(ngModel)]="landingsession2.heading2_de"
                  />
                </div>
                <div class="text">
                  <angular-editor
                    [placeholder]="'Enter text here...'"
                    [(ngModel)]="htmlContentde"
                  ></angular-editor>
                </div>
                <div class="row" style="display: flex">
                  <img
                    id=""
                    *ngIf="issessionHeaderVisible"
                    [src]="session.image"
                    style="
                      height: auto;
                      width: 25%;
                      margin-top: 10px;
                      margin-bottom: 10px;
                    "
                    class="img-responsive icons-img"
                    alt=""
                  />
                  <div class="avatar-upload" *ngIf="issessionHeaderVisible">
                    <div class="avatar-edit" style="cursor: pointer">
                      <input
                        type="file"
                        id="imageUpload"
                        accept=".png, .jpg, .jpeg"
                        #fileInput
                        (change)="onFileChanged($event)"
                        style="cursor: pointer"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center" style="cursor: pointer">
                <button
                  class="mt-3"
                  *ngIf="isButtonVisible"
                  type="button"
                  (click)="update(this.pagename)"
                >
                  <b>{{ "Update" | translate }}</b>
                </button>
              </div>
              <!--  -->
              <br />
              <div class="container">
                <input
                  type="page_name"
                  name="page_name"
                  class="form-control pt-2"
                  *ngIf="isfooterButtonVisible"
                  placeholder=""
                  [(ngModel)]="footer.page_name"
                />
              </div>
            </div>
            <div class="text-center">
              <button
                class="mt-3"
                *ngIf="isfooterButtonVisible"
                type="button"
                (click)="updatefooter(this.pageid)"
              >
                <b>{{ "Update" | translate }}</b>
              </button>
            </div></tab
          >
          <!--  -->
          <tab heading="FR">
            <div class="container">
              <div class="container">
                <div *ngIf="issessionHeaderVisible">
                  <h1 class="mb-2">{{ "Heading" | translate }}</h1>
                  <input
                    type="session.heading_fr"
                    name="session.heading_fr"
                    class="form-control mb-5"
                    *ngIf="issessionHeaderVisible"
                    placeholder=""
                    [(ngModel)]="session.heading_fr"
                  />
                </div>
                <div *ngIf="issessionHeader1Visible">
                  <h1 class="mb-2">{{ "Heading" | translate }}</h1>
                  <input
                    type="landingsession2.heading_fr"
                    name="landingsession2.heading_fr"
                    class="form-control mb-5"
                    placeholder=""
                    [(ngModel)]="landingsession2.heading_fr"
                  />
                  <h1 class="mb-2">{{ "Heading-1" | translate }}</h1>
                  <input
                    type="landingsession2.heading2_fr"
                    name="landingsession2.heading2_fr"
                    class="form-control mb-5"
                    placeholder=""
                    [(ngModel)]="landingsession2.heading2_fr"
                  />
                </div>
                <div class="text">
                  <angular-editor
                    [placeholder]="'Enter text here...'"
                    [(ngModel)]="htmlContentfr"
                  ></angular-editor>
                </div>
                <div class="row" style="display: flex">
                  <img
                    id=""
                    *ngIf="issessionHeaderVisible"
                    [src]="session.image"
                    style="
                      height: auto;
                      width: 25%;
                      margin-top: 10px;
                      margin-bottom: 10px;
                    "
                    class="img-responsive icons-img"
                    alt=""
                  />
                  <div class="avatar-upload" *ngIf="issessionHeaderVisible">
                    <div class="avatar-edit" style="cursor: pointer">
                      <input
                        type="file"
                        id="imageUpload"
                        accept=".png, .jpg, .jpeg"
                        #fileInput
                        (change)="onFileChanged($event)"
                        style="cursor: pointer"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center" style="cursor: pointer">
                <button
                  class="mt-3"
                  *ngIf="isButtonVisible"
                  type="button"
                  (click)="update(this.pagename)"
                >
                  <b>{{ "Update" | translate }}</b>
                </button>
              </div>
              <!--  -->
              <br />
              <div class="container">
                <input
                  type="page_name"
                  name="page_name"
                  class="form-control pt-2"
                  *ngIf="isfooterButtonVisible"
                  placeholder=""
                  [(ngModel)]="footer.page_name"
                />
              </div>
            </div>
            <div class="text-center">
              <button
                class="mt-3"
                *ngIf="isfooterButtonVisible"
                type="button"
                (click)="updatefooter(this.pageid)"
              >
                <b>{{ "Update" | translate }}</b>
              </button>
            </div></tab
          >
          <!--  -->
          <tab heading="NL">
            <div class="container">
              <div class="container">
                <div *ngIf="issessionHeaderVisible">
                  <h1 class="mb-2">{{ "Heading" | translate }}</h1>
                  <input
                    type="session.heading_nl"
                    name="session.heading_nl"
                    class="form-control mb-5"
                    *ngIf="issessionHeaderVisible"
                    placeholder=""
                    [(ngModel)]="session.heading_nl"
                  />
                </div>
                <div *ngIf="issessionHeader1Visible">
                  <h1 class="mb-2">{{ "Heading" | translate }}</h1>
                  <input
                    type="landingsession2.heading_nl"
                    name="landingsession2.heading_nl"
                    class="form-control mb-5"
                    placeholder=""
                    [(ngModel)]="landingsession2.heading_nl"
                  />
                  <h1 class="mb-2">{{ "Heading-1" | translate }}</h1>
                  <input
                    type="landingsession2.heading2_nl"
                    name="landingsession2.heading2_nl"
                    class="form-control mb-5"
                    placeholder=""
                    [(ngModel)]="landingsession2.heading2_nl"
                  />
                </div>
                <div class="text">
                  <angular-editor
                    [placeholder]="'Enter text here...'"
                    [(ngModel)]="htmlContentnl"
                  ></angular-editor>
                </div>
                <div class="row" style="display: flex">
                  <img
                    id=""
                    *ngIf="issessionHeaderVisible"
                    [src]="session.image"
                    style="
                      height: auto;
                      width: 25%;
                      margin-top: 10px;
                      margin-bottom: 10px;
                    "
                    class="img-responsive icons-img"
                    alt=""
                  />
                  <div class="avatar-upload" *ngIf="issessionHeaderVisible">
                    <div class="avatar-edit" style="cursor: pointer">
                      <input
                        type="file"
                        id="imageUpload"
                        accept=".png, .jpg, .jpeg"
                        #fileInput
                        (change)="onFileChanged($event)"
                        style="cursor: pointer"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center" style="cursor: pointer">
                <button
                  class="mt-3"
                  *ngIf="isButtonVisible"
                  type="button"
                  (click)="update(this.pagename)"
                >
                  <b>{{ "Update" | translate }}</b>
                </button>
              </div>
              <!--  -->
              <br />
              <div class="container">
                <input
                  type="page_name"
                  name="page_name"
                  class="form-control pt-2"
                  *ngIf="isfooterButtonVisible"
                  placeholder=""
                  [(ngModel)]="footer.page_name"
                />
              </div>
            </div>
            <div class="text-center">
              <button
                class="mt-3"
                *ngIf="isfooterButtonVisible"
                type="button"
                (click)="updatefooter(this.pageid)"
              >
                <b>{{ "Update" | translate }}</b>
              </button>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col" *ngIf="slider">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="p-4, pb-0">{{ "Image" | translate }}</th>
            <th class="p-4 , pb-0">{{ "ReplaceImage" | translate }}</th>
            <th class="p-4 , pb-0">{{ "Action" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of images" style="border: 1px solid grey">
            <td class="col-4">
              <!-- {{ item.image }} -->
              <img
                [src]="item.image"
                style="height: auto; width: 20%"
                class="img-responsive icons-img"
              />
            </td>
            <td class="col-4 p-3">
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input
                    type="file"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg"
                    #fileInput
                    (change)="onImageChanged($event, item.id)"
                  />
                </div>
              </div>
            </td>
            <td class="col-4 p-3">
              <button
                class="btn btn-danger btn-sm"
                (click)="deleteItem(item.id)"
              >
                {{ "Delete" | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <h3>{{ "Add" | translate }}</h3>
        <div class="avatar-upload pt-2">
          <div class="avatar-edit">
            <input
              type="file"
              id="imageUpload"
              accept=".png, .jpg, .jpeg"
              #fileInput
              (change)="Add($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
