<!--  -->
<div class="container">
  <div class="text-center">
    <h3>{{ "Student" | translate }}</h3>
  </div>
  <div class="row my-5">
    <div class="col col-sm-4 col-md text-center" style="cursor: pointer">
      <img
        class="img-responsive gif-imgs"
        id="rds"
        src="assets/image/user.png"
        alt="Card image cap"
        routerLink="/profile"
      />
      <h5 class="text-center mt-3 mb-3">{{ "Profile" | translate }}</h5>
    </div>
    <div class="col col-sm-4 col-md text-center" style="cursor: pointer">
      <img
        class="img-responsive gif-imgs"
        id="rds"
        src="assets/image/account-details.png"
        alt="Card image cap"
      />
      <h5 class="text-center mt-3 mb-3">{{ "Accountdetails" | translate }}</h5>
    </div>
    <!--  -->
    <div class="col col-sm-4 col-md text-center" style="cursor: pointer">
      <img
        class="img-responsive gif-imgs"
        id="rds"
        src="assets/image/application.png"
        alt="Card image cap"
      />
      <h5 class="text-center mt-3 mb-3">{{ "Applications" | translate }}</h5>
    </div>
    <!--  -->
    <div class="col col-sm-4 col-md text-center" style="cursor: pointer">
      <img
        class="img-responsive gif-imgs"
        id="rds"
        src="assets/image/data.png"
        alt="Card image cap"
      />
      <h5 class="text-center mt-3 mb-3">{{ "Data" | translate }}</h5>
    </div>
  </div>
</div>
