<div class="container">
  <div class="row my-3">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header text-center half-head">
          <h5 class="card-title">Skill</h5>
        </div>
        <img src="./assets/image/skills.png" class="card-img-top img-responsive card_img_cs half"
          alt="Los Angeles Skyscrapers" id="img" routerLink="/skills-dashdboard" />
        <div class="card-body half">
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
          </p>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header text-center half-head">
          <h5 class="card-title">Energy</h5>
        </div>
        <img src="./assets/image/energy.png" class="card-img-top img-responsive card_img_cs card_img_cs half"
          alt="Los Angeles Skyscrapers" id="img" routerLink="/energy-dashdboard" />
        <div class="card-body half">
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
          </p>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header text-center half-head">
          <h5 class="card-title">Health</h5>
        </div>
        <img src="./assets/image/health.png" class="card-img-top img-responsive card_img_cs card_img_cs half"
          alt="Los Angeles Skyscrapers" id="img" routerLink="/health-dashboard" />
        <div class="card-body half">
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
          </p>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header text-center half-head">
          <h5 class="card-title">Financial</h5>
        </div>
        <img src="./assets/image/financial.png" class="card-img-top img-responsive card_img_cs card_img_cs half"
          alt="Los Angeles Skyscrapers" id="img" routerLink="/finance-insurance-dashboard" />
        <div class="card-body half">
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
</div>