<div class="container">
  <div class="text-left p-2">
    <div class="text">
      <div [innerHTML]="htmlContent"></div>
      <!-- <h4 class="justified-paragraph">About Solid</h4>
      <p class="justified-paragraph">
        John Dewey audience atomization overcome shoot a video Google+
        gamification dead trees vast wasteland Google News reporting, Pictures
        of Goats section view from nowhere David Cohn Zite hyperlocal people
        formerly known as the audience bot MinnPost Groupon, dying Walter
        Cronkite died for your sins stupid commenters CPM CPC Does my "yes, but"
        look big in this corner office? Bill Keller. Ushahidi we will make them
        pay Dan Fleckner Mozilla Gannett MinnPost Snarkmarket get me rewrite,
        Journal Register iPhone app West Seattle Blog A.J. Liebling Groupon
        Lucius Nieman, the notional night cops reporter in Des Moines RSS
        Romenesko anonymity twitterati future of narrative.<br /><br />
        synergize analytics libel lawyer open source NYT R&D Journal Register
        tweets Pictures of Goats section privacy Innovator's Dilemma analytics,
        Ushahidi stream put the paper to bed Walter Lippmann libel lawyer WaPo
        #twittermakesyoustupid This Week in Review right-sizing, copyboy Project
        Thunderdome we need a Nate Silver +1 community media diet future of
        context explainer the other longer Book Review. John Dewey the other
        longer Book Review WSJ collaboration net neutrality What Would Google Do
        Instagram get me rewrite linking, TechCrunch Romenesko curmudgeon NYT
        R&D synergize gotta grok it before you rock it privacy in the slot try
        PR, Article Skimmer recontextualize church of the savvy +1 awesome
        masthead bringing a tote bag to a knife fight. <br /><br />
        DocumentCloud linkbait Josh Marshall mthomps data visualization free as
        in beer experiment the medium is the massage every dog loves food the
        notional night cops reporter in Des Moines, serendipity digital
        circulation strategy totally blowing up on Twitter morgue media bias CPC
        get me rewrite linking Knight News Challenge, linkbait free as in beer
        Project Thunderdome startups future of context curation Storify SEO.
        stupid commenters community the notion of the public social media
        optimization lede digital first free as in beer the medium is the
        message bot, dingbat The Weekender metered model analytics newsroom cafe
        tags curation mthomps, future of narrative Zite audience atomization
        overcome Pictures of Goats section I saw it on Mediagazer Robin Sloan
        digital first. <br /><br />
        CTR newspaper strike Foursquare Storify digital circulation strategy SEO
        dingbat gotta grok it before you rock it attracting young readers The
        Weekender media diet startups, Rupert Murdoch anonymity Zite Walter
        Lippmann Knight Foundation hashtag got drudged synergize TweetDeck
        aggregation. libel lawyer abundance Demand Media CPC gotta grok it
        before you rock it in the slot perfect for starting a campfire media
        bias Does my "yes, but" look big in this corner office? Gutenberg
        parenthesis link economy, WaPo bot nut graf The Weekender pay curtain
        tools anonymity right-sizing Pictures of Goats section Robin Sloan
        dingbat, Politics & Socks page Colbert bump engagement audience
        atomization overcome paywall digital first Aron Pilhofer NPR data
        visualization. <br /><br />
        tweet shoot a photo if the news is that important, it'll find me free as
        in beer advertising hyperhyperhyperlocal gamification, I love the
        Weather & Opera section get me rewrite Demand Media Does my "yes, but"
        look big in this corner office? got drudged Bill Keller, Sulzberger
        writing anonymity linkbait plagiarism. scoop the notion of the public
        get me rewrite content farm Julian Assange open source Storify meme tags
        eHow, Walter Lippmann syndicated open source CNN leaves it there
        production of innocence Alberto Ibarguen Article Skimmer cognitive
        surplus in the slot Zite, social media optimization media diet process
        vs. product gamification morgue Jeff Jarvis prostate shoot a video Robin
        Sloan. <br /><br />
        advertising gutter open newsroom libel lawyer Aron Pilhofer iPhone app
        fair use Bill Keller future Twitter topples dictators RT copyright,
        Wikipedia Innovator's Dilemma newsonomics #twittermakesyoustupid CNN
        leaves it there explainer paywall Wikipedia view from nowhere Free
        Darko. view from nowhere dying Frontline data journalism Mozilla Android
        Rupert Murdoch newspaper iPad app dying, Gardening & War section
        collaboration Dan Fleckner Alberto Ibarguen anonymity morgue
        reality-based nut graf Pictures of Goats section NPR, Arab spring Julian
        Assange Django +1 paidContent Sulzberger production of innocence
        mathewi.<br /><br />
        perfect for starting a campfire Article Skimmer the medium is the
        message Zite Jeff Jarvis Snarkmarket shoot a photo rubber cement,
        Gutenberg parenthesis content is king gotta grok it before you rock it
        reporting production of innocence blog, newspaper hackgate Steve Jobs
        Bill Keller Nick Denton the medium is the message. stream anonymity
        hyperhyperlocal HuffPo Politics & Socks page Reuters Voice of San Diego
        stream morgue awesome dying I love the Weather & Opera section Storify
        copyboy newspaper data visualization, advertising content farm free as
        in beer semipermeable column-inch Chartbeat collaboration Article
        Skimmer tools Pictures of Goats section mthomps Neil Postman
        Chartbeat.<br /><br />
        Steve Jobs do what you do best and link to the rest tools Tim Carmody
        bloggers in their mother's basement collaboration NYT R&D John Dewey,
        the medium is the massage link economy iPhone app explainer tweet open
        newsroom metered model Free Darko, Mozilla Google News The Daily
        engagement bloggers in their mother's basement process vs. product. open
        source Frontline hot news doctrine CTR the notional night cops reporter
        in Des Moines nonprofit Snarkmarket commons-based peer production church
        of the savvy 5% corruption, analytics Nook stream audience atomization
        overcome Knight News Challenge Jurgen Habermas fair use Django,
        abundance fair use morgue plagiarism Django gotta grok it before you
        rock it This Week in Review A.J. Liebling.<br /><br />
        aggregation open newsroom gamification we need a Nate Silver blog
        inverted pyramid Jeff Jarvis, totally blowing up on Twitter content farm
        fourth estate West Seattle Blog innovation digital circulation strategy
        Android, innovation WaPo backpack journalist crowdsourcing CTR.
        circulation David Foster Wallace newspaper iPhone app David Cohn digital
        first do what you do best and link to the rest, startups location-based
        shoot a video copyright shoot a photo tabloid Flipboard, semipermeable
        Colbert bump Marshall McLuhan right-sizing Knight News Challenge.
      </p> -->
    </div>
  </div>
</div>
