<div>
  <div class="card was-validated mx-auto">
    <div class="card-body">
      <h4 class="mx-1 text-center">{{ "ForgotPw" | translate }}</h4>
      <div class="col">
        <div class="form">
          <input
            type="email"
            class="form-control"
            [(ngModel)]="forgotpwform.email"
            placeholder="{{ 'Email' | translate }}"
            required
          />
        </div>
      </div>
      <div class="text-center">
        <button type="button" (click)="forgotpw()">
          <b>{{ "save" | translate }}</b>
        </button>
      </div>
    </div>
  </div>
</div>
